# Build outputs
dist
.wrangler
.vinxi

# Environment
.env
.env*.local

# Dependencies
/node_modules

# IDEs and editors
/.idea
.project
.classpath
*.launch
.settings/

# System Files
.DS_Store
Thumbs.db

# opendbc repository (used only during workflow)
opendbc/
