---
import { Image } from 'astro:assets';
import opendbcLogo from '../../public/opendbc-logo.png';
---

<header class="sticky top-0 z-50">
	<div class="flex flex-col h-24 items-center justify-center bg-gradient-to-r from-[#132410] to-[#396c2f]">
		<a href="/">
			<Image
				src={opendbcLogo}
				alt="opendbc logo"
				class="w-[220px] h-auto"
				format="webp"
				quality={70}
				loading="eager"
			/>
		</a>
	</div>

	<div class="h-[3px] bg-black drop-shadow-[0_4px_3px_rgba(0,0,0,0.4)]" />
</header>
